home {
    width: 100%;
}

home h1, home h2, home h3, home h4{
    text-align: center;
}

home h4 {
    margin-top: 50px;
}

home .btn {
    margin: 0 auto;
    display: block;
    width: 120px;
    font-size: 16px;
}