.questions-block{
    width:99%;
    margin: 0 auto;
}

.card {
    float: left;
    border: 1px solid #adb1ab;
    margin: 2px;
    cursor: pointer;
    width: calc(25% - 4px);
    height: 170px;
}
.card:hover {
    background: #dff0d8;
}

.card-block {
    width: 95%;
    margin: 0 auto;
}