questions .questions-block{
    width:99%;
    margin: 0 auto;
}

questions .card {
    float: left;
    border: 1px solid #adb1ab;
    padding: 2px;
    cursor: pointer;
    height: 170px;
}
questions .card:hover {
    background: #dff0d8;
}

questions .card-block {
    width: 95%;
    margin: 0 auto;
}