guide{
    width: 80%;
    margin: 0 auto;
    display: block;
    font-size: 15px;
}

guide h1, guide h2, guide h3, guide h4, guide p{
    text-align: right;
}

guide h3{
    font-size: 22px;
}

guide .insideNav h4 {
    margin-top: 50px;
    text-align: center;
}

guide .insideNav {
    width: 320px;
    margin: 0 auto;
}

guide .insideNav .btn {
    display: block;
    width: 120px;
    font-size: 16px;
}

guide .text-block {
    display: none;
}

guide .mainContent #guideParts .showMe {
    display: block;
}

guide .mainContent #guideParts #part1 span:first-of-type ,
guide .mainContent #guideParts #part1 span:last-of-type{
    display:none;
}